<div class="container">
<div class="jumbotron">
  <h1>Tooltip example </h1>
</div>
<div class="tooltip-example">
  <button tooltip="Button 1 tooltip text" class="btn btn-primary" placement="top" delay="200" id="btn1">Button 1</button>
  <button tooltip="Button 2 tooltip text" class="btn btn-success" placement="top" delay="200" id="btn2">Button 2</button>
</div>
<div class="examle-div jumbotron">
  This is tooltip-example  
</div>
<div class="examle-div jumbotron">
  This is tooltip-example  
</div>
<div class="examle-div jumbotron">
  This is tooltip-example  
</div>
<div class="examle-div jumbotron">
  This is tooltip-example  
</div>
<div class="examle-div jumbotron">
  This is tooltip-example  
</div>
</div>
<router-outlet></router-outlet>
