<!--The content below is only a placeholder and can be replaced.-->
<div class="tooltip-example">
  <button tooltip="Button 1 text" placement="top" delay="200" id="btn1">Button 1</button>
  <button tooltip="Button 2 text" placement="top" delay="200" id="btn2">Button 2</button>
</div>
<div class="examle-div">
  This is tooltip-example  
</div>
<div class="examle-div">
  This is tooltip-example  
</div>
<div class="examle-div">
  This is tooltip-example  
</div>
<div class="examle-div">
  This is tooltip-example  
</div>
<div class="examle-div">
  This is tooltip-example  
</div>
<router-outlet></router-outlet>
